<%= link_to 'http://bit.ly/2cigX7a', target: '_blank' do %>
  <%= image_tag 'https://s3.amazonaws.com/edge-guard/images/hilton_daytona.jpg', class: 'ui rounded fluid image' %>
<% end %>
<div class='ui list'>
  <div class='item'>
    <div class='ui large inverted red header content'>Hilton Daytona Beach</div>
  </div>
  <div class='item'>
    <i class='ui red inverted marker icon'></i>
    <div class='content'>100 N Atlantic Ave, Daytona Beach, FL 32118</div>
  </div>
  <div class='ui item'>
    <i class='ui red inverted call icon'></i>
    <div class='content'>386-254-8200</div>
  </div>
  <div class='item'>
    <div class='content'>
      Some text here about how you get a really good deal on rooms if you order before some date,
      Yadda yadda, what a great hotel.
    </div>
  </div>
  <div class='ui item action-items right-aligned'>
    <%= link_to '#', class: 'ui inverted red button', target: '_blank' do %>
      <i class='external icon'></i> Book Now
    <% end %>
  </div>
</div>
