<%= link_to 'https://www.google.com/maps/place/100+N+Atlantic+Ave+Daytona+Beach+FL+32118', target: '_blank' do %>
  <%= image_tag 'https://s3.amazonaws.com/edge-guard/images/ocean_center_map.png', class: 'ui rounded fluid image' %>
<% end %>
<div class='ui list'>
  <div class='item'>
    <div class='ui large inverted red header content'>Daytona Beach Ocean Center</div>
  </div>
  <div class='item'>
    <i class='ui red inverted marker icon'></i>
    <div class='content'>100 N Atlantic Ave, Daytona Beach, FL 32118</div>
  </div>
  <div class='ui item'>
    <i class='ui red inverted calendar icon'></i>
    <div class='content'>December 10-11, 2016</div>
  </div>
  <div class='item'>
    <div class='content'>
      Located in the heart of the Daytona Beach resort area and only 400 feet from the Atlantic Ocean,
      the Ocean Center is the area's convention complex.
    </div>
  </div>
  <div class='ui item action-items right-aligned'>
    <%= link_to 'http://www.oceancenter.com/', class: 'ui inverted red button', target: '_blank' do %>
      <i class='external icon'></i> More Info
    <% end %>
  </div>
</div>
