<div class='ui inverted segment red-accent'>
  <h3 class='ui header'>2016 Tournament Game List</h3>
  <div class='ui centered grid'>
    <% @games.each do |game| %>
      <div class='four wide computer four wide tablet five wide mobile column'>
        <div class='image-wrapper'>
          <%= image_tag game.image_url, class: 'ui small image' %>
        </div>
        <div class='image-label'><%= game.title %></div>
      </div>
    <% end %>
  </div>
  <h3 class='ui gray centered header'>Plus Many More...</h3>
</div>

<style>
  .image-wrapper {
    height: 140px;
    text-align: center;
    font: 0/0 a;
  }

  .image-wrapper:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .image-wrapper img.ui.image {
    display: inline-block;
    vertical-align: middle;
  }

  .image-label {
    color: #FF695E;
    font-size: 0.85em;
  }

  @media only screen and (max-width: 500px) { 
    .image-wrapper {
      height: 100px;
    }
  }
</style>
