<div class='ui inverted segment red-accent'>
  <h3 class='ui centered header'>...This Year's Tournament Game...</h3>
  <h2 class='ui inverted red centered header'>Super Smash Bros. Melee on GameCube!</h2>
  <%= image_tag 'https://s3.amazonaws.com/edge-guard/images/super_smash_bros_melee.png', class: 'ui fluid image rounded' %>
</div>

<style>
  h3.ui.header + h2.ui.header { margin: -7px 0px 13px 0px; }
</style>
