<div class='ui inverted segment red-accent'>
  <div class='ui top inverted secondary pointing tabular menu'>
    <a class='active item' data-tab='first'>Hotel Info</a>
    <a class='item' data-tab='second'>Venue Info</a>
  </div>

  <div class='ui active tab inverted segment' data-tab='first'>
    <%= render 'shared/hotel_details' %>
  </div>
  <div class='ui tab inverted segment' data-tab='second'>
    <%= render 'shared/venue_details' %>
  </div>
</div>

<style>
  .ui.list .item.header {
    font-size: 1.5em;
  }

  .ui.item.action-items {
    margin-top: 10px;
  }
  .ui.action-items.right-aligned {
    text-align: right;
  }

  .ui.tab.inverted.segment {
    margin-bottom: 0px;
  }

  @media only screen and (max-width: 400px) {
    .ui.large.inverted.red.header.content {
      font-size: 1.5em;
    }
  }
</style>