/* Mix-ins
========================================================================== */
@import 'semantic-ui';


/* Variables
========================================================================== */

/* Universal
========================================================================== */
html, body { height: 100%; color: #525252; }
/*body { background-color: $BgGrey; }*/


.ui.segment.masthead {
  height: 500px;
  margin-top: 0px;
  border-radius: 0;
  background: #525252;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(cta_background_red_blur.jpg);
  background-attachment: fixed;
}

/* Helper Classes
========================================================================== */
.hidden       { display: none; }
.block        { display: block; }
.inline-block { display: inline-block; }
.pointer      { cursor: pointer; }