<div class='ui masthead inverted center aligned segment'>
  <div class='ui text container'>
    <h1 class='ui inverted header'>Tournament 2016</h1>
    <h2>Get your game on, you rascal!</h2>
    <a class='ui huge red button'>
      <i class='user icon'></i> Register Now
    </a>
  </div>
</div>

  <div class='ui compact inverted center aligned segment countdown'>
    <span>Tournament Starts In...</span>
    <div id='countdown-div'>
      <div class='ui tiny inverted red statistic'>
        <div class='value days'></div>
        <div class='label'>Days</div>
      </div>
      <div class='ui tiny inverted red statistic'>
        <div class='value hours'></div>
        <div class='label'>Hours</div>
      </div>
      <div class='ui tiny inverted red statistic'>
        <div class='value minutes'></div>
        <div class='label'>Mins</div>
      </div>
      <div class='ui tiny inverted red statistic'>
        <div class='value seconds'></div>
        <div class='label'>Secs</div>
      </div>
    </div>
  </div>

<style>
  #countdown-div {
    padding: 5px 50px 0 50px;
  }

  .countdown.segment {
    margin: 0 auto;
    margin-top: -74px;
  }

  @media only screen and (max-width: 700px) {
    #countdown-div {
      padding: 5px 25px 0 25px;
    }
  }
</style>