<div class='ui inverted segment main-header'>
  <div class='ui container'>
    <div class='ui top inverted secondary pointing menu'>
      <div class='item' style='padding:4px; margin-right:10px;'>
        <img src='https://upload.wikimedia.org/wikipedia/commons/6/6b/Indy_PopCon_Red_Square_Logo.png'>
      </div>
      <%= link_to 'Melvin\'s Tournament', root_path, class: 'header active item' %>
      <div class='right menu'>
        <a class='item'>Schedule</a>
        <a class='item'>Artist Alley</a>
        <a class='toc item'><i class='sidebar icon'></i> Menu</a>
        <div class='ui dropdown item'>
          FAQ <i class='dropdown icon'></i>
          <div class='menu'>
            <a class='item'>About Us</a>
            <a class='item'>Tournament Info</a>
            <a class='item'>Hotel Info</a>
          </div>
        </div>
        <div class='item'>
          <%= link_to register_path, class: 'ui red button' do %>
            <i class='user icon'></i> Register
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .segment.main-header { 
    border-radius: 0;
    margin-bottom: 0px; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .right.menu .toc.item { display: none; }

  @media only screen and (max-width: 700px) {
    .main-header .secondary.menu .right.menu .item:not(.toc) {
      display: none;
    }
    .main-header .secondary.menu .right.menu .item.toc {
      display: block;
    }
  }

  .secondary.pointing.menu .active.item {
    border-color: #DB2828 !important;
  }

  .ui.logo.icon.image {
    width: 35px;
    margin-right: 1em;
  }
</style>