<div class='ui vertical inverted sidebar menu pointing right'>
  <div class='item'>
    <a class='ui logo icon image'>
      <img src='https://upload.wikimedia.org/wikipedia/commons/6/6b/Indy_PopCon_Red_Square_Logo.png'>
    </a>
    <a><b>Melvin's Tournament</b></a>
  </div>
  <a class='item'>Schedule</a>
  <a class='item'>Artist Alley</a>
  <div class='item'>
    FAQ
    <div class='menu'>
      <a class='item'>About Us</a>
      <a class='item'>Tournament Info</a>
      <a class='item'>Hotel Info</a>
    </div>
  </div>
  <div class='item'>
    <a class='fluid ui red button'>
      <i class='user icon'></i> Register
    </a>
  </div>
</div>
